
.cards-grid{
    justify-content: center;
    align-items: center;
    color: black;
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 780px;
    margin: -20px;
    .cell{
        cursor: pointer;
        background-color: rgb(221, 221, 221);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 5px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
#my-node{
    display: flex;
    justify-content: center;
    align-items:  center;
    width: fit-content;
    background-color: white;
}

.dw-btn{
    margin-top: 15px;
    height: 75px;
}


