body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg,#404051,#8f89ce,hsl(247, 22%, 23%));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}
/* 24243e */ 
/* 0f0c29 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 25px;
}
.color{
  margin: 30px;
}

@media screen and (max-width: 1000px) {
  .App{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .color{
    margin-bottom: 50px;
    margin-left: 70px;
  }

}
